.dscan {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.dscan__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.project__title-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.dscan .project-image-mobile {
  margin: 10px 0;
}

.dscan .project-image {
  width: 400px;
}

@media and (min-width: 1530px) {
  .dscan {
    gap: 20px;
  }
}
