.theme-toggle {
    width: 60px;
    height: 30px;
    background-color: var(--toggle-bg, #ccc);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.theme-toggle__slider {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.theme-toggle__slider.dark {
    transform: translateX(30px);
    background-color: #5b5a93ff;
}

.theme-toggle__slider.light {
    transform: translateX(0);
}
